* {
  box-sizing: border-box;
  font-family: Arvo;
  color: #111;
}

.content {
  height: auto !important;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
}

.download {
  background: #f9f7e8;
  padding: 1em 2em;
  text-decoration: none;
  display: block;
  margin: 2em auto;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.download:hover, .download:active {
  background: #62BFAD;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #62BFAD;
  text-align: center;
  font-size: 15vw;
  margin: .2em 0 0 0;
  text-shadow: white 2px 0 0, #FFBFAD 6px 0 0;
  line-height: 1;
}

h2 {
  text-align: center;
  color: #444;
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

.row {
  overflow: hidden;
  padding: .5em;
}
.poster{
  max-height: 90vh;
  margin: 0 auto;
  padding: 1em;
  display: block;
  background: #f9f7e8;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
}

.contributors {
  padding: 0;
  margin: 4em 0;
}

.contributors li {
  display: inline-block;
  margin: .5em 1em .5em .5em;
}

.license {
  font-size: .8em;
  text-align: center;
}

.social {
  padding: 0;
  text-align: center;
}

.social li {
  width: 30px;
  display: inline-block;
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25vw;
    text-shadow: white 1px 0 0, #FFBFAD 4px 0 0;
  }

  .poster {
    max-width: 100%;
  }
}
