* {
  box-sizing: border-box;
}

body {
  font-family: Arvo;
  color: #666;
}

a {
  color: #666;
}

.content {
  padding: 0 1em;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  color: #62BFAD;
  font-size: 25vw;
  margin: .2em 0 0 0;
  -webkit-text-stroke: 2px #fff;
  text-shadow: #FFBFAD 6px 0 0;
  line-height: 1;
}

h2 {
  margin: 0;
}

hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid #666;
  margin: 2em 0;
  padding: 0;
}

.poster{
  max-width: 100%;
  margin: 2em 0 0;
  background: #f9f7e8;
  box-shadow: 0px 5px 20px rgba(0,0,0,.3);
}

.download {
  padding: 1em 4em;
  text-decoration: none;
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #666;
}

.download:hover, .download:active {
  background-color: #666;
  color: #fff;
}

.contributors {
  padding: 0;
  margin: 4em 0;
}

.contributors li {
  display: inline-block;
  margin: .5em 1em .5em .5em;
}

.contributors a:link, .contributors a:visited, .contributors a:hover, .contributors a:active {
  text-decoration: underline;
}

.license {
  font-size: .8em;
  text-align: center;
  margin: 4em 0;
}

.social {
  padding: 0;
  text-align: center;
}

.social li {
  display: inline;
}

.social li a{
  vertical-align: middle;
  padding: 1em;
  text-decoration: none;
}

.social li a:hover,
.social li a:hover svg{
  fill: #62BFAD;
  color: #62BFAD;
}

.social svg{
  vertical-align: middle;
  width: 30px;
  fill: currentColor;
  width: 32px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 14vw;
  }
}
